h1.Cafeteria{


    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkred;

}

h1.LaCarta{

    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkred;



}
div.texto{

     font-family: Verdana, Geneva, Tahoma, sans-serif;
     color: red;
}

h1.Elcafe{

    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkred;



}

div.elcafe{

    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: red;


}

h1.contacto{


    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkred;


}